<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>HighCharty (YO)</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" href="/favicon.ico">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->

        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
    </head>
    <body>

<div id="the-content">


    <h2>hello</h2>

    <section class="container">
        <div class="row">
            <div class="col-sm-6">

                <h5>Attributes here</h5>
                <div id="the-form">

                </div>
            </div>
            <div class="col-sm-6">
                <h5>Packaged JSON here</h5>
                <pre><code id="the-data"></code></pre>
            </div>

        </div>
    </section>



</div> <!-- #the-content -->

        <script src="../bower_components/requirejs/require.js" data-main="scripts/main_c"></script>











<script id="charty-component" type="text/template">

    <h3><%= componentName %></h3>

    <% _.each(formAttributes, function(att, key){  %>
        <div><h5><%=key%></h5>
        <%= template_configAttr( att  ) %>

        </div>
    <% }) %>

</script>
<script id="charty-config-attribute" type="text/template">
    (<label for="<%=fullname %>"><%=fullname%></label>)

        <% switch( optType ){ case 'text': %>
                <textarea class="chart-attr" name="<%=fullname %>" cols="60" rows="20">
                <%= value %>
                </textarea>
            <% break; case 'checkbox': %>
                <input class="chart-attr" type="checkbox" name="<%=fullname %>" value="<%= value %>">
            <% break; case 'select': %>
                <select class="chart-attr" name="<%=fullname %>">
                <% _.each(values, function(val){  %>
                    <% var selected = val === value ? 'selected' : '' %>
                    <option <%=selected%>><%=val%></option>
                <% });  %>
                </select>
            <% break; case 'input': %>
                <input class="chart-attr" name="<%=fullname %>" value="<%= value %>">
                <% break; %>
        <% } %>

</script>


</body>
</html>
