    <section class="container">
        <h2>hello</h2>

        <div class="row">

        <div id="the-form">

        </div>

        </div>
    </section>



    <section class="container">
        <div id="the-chart"></div>
    </section>


    <section class="container">
        <div class="row">
            <div class="col-sm-6">
                <h5>Canonical JSON here</h5>
                <pre><code id="the-atts"></code></pre>
            </div>
            <div class="col-sm-6">
                <h5>Packaged JSON here</h5>
                <pre><code id="the-json"></code></pre>
            </div>
        </div>
    </section>

